
@import './app/styles/_variables';



.navbar {
    font-family: $primary-font;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100vh;
    width: 100vw;
    max-width: 1250px;
    margin: 0 auto;
    .a{
        text-decoration: none;
        color: #333;
    }
  .burgerMenu {
    display: none;
  }
  .logo {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 300;
    position: relative;
    text-decoration: none;
    font-family: $primary-font;
    color: $primary-text-color  ;
  }
  .navLinks {
    font-family: $primary-font;
    display: flex;
    list-style-type: none;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    font-weight: 400;
    li {
      margin-left: 2rem;
    }
    a{
        font-family: $primary-font;
        text-decoration: none;
        color: #333;
    }
  }
  .instagramSVG {
    font-size: 2rem;
    margin-left: 2rem;
    color: #333;
    text-decoration: none;
  }
}
 // media queries

 @media (max-width: 1250px) {
    .navbar{font-size: 1.7rem;
    }
    .logo {
      font-size: 2rem;
    }
  }

  @media (max-width: 768px) {
    .navbar{font-size: 1.7rem;
    }
    .logo {
      font-size: 1.8rem;
    }
    .burgerMenu {
      display: flex;
    }
  }

  @media (max-width: 600px) {
    .navbar{font-size: 1.7rem;
    }
    .logo {
      font-size: 1.6rem;
    }
  }

  @media (max-width: 390px) {
    .navbar{font-size: 1.7rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .burgerMenu {
        font-size: 1.5rem;
        display: flex;


    }
  }
