// @import './_variables';
// @import './_typography';

// body {
//   color: $primary-color;
//   background-color: $secondary-color;
// }

$font-size-mobile: 16px;
$font-size-tablet: 18px;
$font-size-desktop: 20px;

$primary-color: #000000;
$secondary-color: #ffffff;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;