$primary-text-color: #333;
$secondary-text-color: #fff;

$primary-color: #ffffff;
$secondary-color: #020202;
$tertiary-color: #e74c3c;
$quaternary-color: #3498db;
$quinary-color: #f1c40f;
$senary-color: #2ecc71;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-wide: 1280px;
$breakpoint-desktop-ultra-wide: 1536px;
$breakpoint-desktop-ultra-ultra-wide: 1920px;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Montserrat Alternates', sans-serif;
$tertiary-font: 'Montserrat Subrayada', sans-serif;

$font-size-mobile: 0.8rem;
$font-size-tablet: 1.25rem;
$font-size-desktop: 1.563rem;
$font-size-desktop-wide: 1.953rem;
$font-size-desktop-ultra-wide: 2.441rem;
$font-size-desktop-ultra-ultra-wide: 3.052rem;

$font-size-x-small: 0.8rem;
$font-size-small: 1.25rem;
$font-size-normal: 1.563rem;
$font-size-large: 1.953rem;
$font-size-x-large: 2.441rem;
$font-size-xx-large: 3.052rem;
  

  



  


