@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as _mixins;
@use './app/styles/base/_base' as _base;

// .main{
//     width: 100%;
//     max-width: 1100px;
//     margin: 0 auto;
//     box-sizing: border-box;
//     overflow: hidden;
// }

// .container{
//     box-sizing: border-box;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     width: 100%;
//     max-width: 1100px;
//     font-family: $primary-font;
//     gap: 3rem;
//     margin: 0 auto;
//     margin-bottom: 3em;
// }

//  .textContainer{
//     text-align: justify;
//     margin: 0 auto;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     width: 100%;
//     max-width: 1100px;
//     flex-basis: 50%;
//     font-family: $primary-font;
    
    
//     .buttonWApp{
//         display: block;
//         width: 100%;
//         max-width: 20em;
//         min-width: 10em;
//         margin: 0 auto;
//         border-radius: 0.5em;
//         margin-bottom: 1.5em;
//         margin-top: 1.5em;
//         padding: 0.7rem;
//         font-size: clamp(0.5rem, 5vw, 1.5rem);
//         border: none;
//         background-color: #075e54;
//         color: $primary-color;
//     }

//     .buttonWApp:hover {
//         background-color: #128c7e;
//         color: $primary-color;

//     }
//     .buttonWApp:active {
//         background-color: #128c7e;
//         color: $primary-color;
//     }


//     a{
//         text-decoration: none;
//         color: $primary-color;
//     }

//     h2{
//     text-align: center;
//     font-size: clamp(2rem, 5vw, 3rem);
//     }

//     .description{
//         font-size: $font-size-normal;
//         font-weight: 300;
//         color: $secondary-color;
//         font-size: clamp(1rem, 5vw, 1.5rem);
      
//     }
//  }

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    margin: 0 auto;
    background-color: $primary-color;
    border-radius: 5px;
    font-family: $primary-font;
    border: 2px solid $secondary-color;

    h1 {
        font-size: $font-size-normal;
        margin-bottom: 1em;
        color: $secondary-color;
        font-weight: 300;
    }

    input {
        width: 100%;
        max-width: 20em;
        margin: 0 auto;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: $font-size-small;
        padding-bottom: 1em;
        padding-top: 1em;
        padding-left: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    textarea {
        width: 100%;
        max-width: 20em;
        min-width: 20em;
        margin: 0 auto;
        padding: 0.5rem;
        padding-left: 1em;
        padding-top: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: $font-size-small;
        padding-bottom: 12em;
        box-sizing: content-box;
        font-family: $primary-font;
    }

    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 20em;
        margin: 0 auto;
        border-radius: 5px;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
    }
    
    button {
        width: 100%;
        max-width: 20em;
        padding: 0.7rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: $font-size-small;
        background-color: $secondary-color;
        color: $primary-color;
        cursor: pointer;
        box-sizing: border-box;
    
    }
    button:hover {
        background-color: $senary-color;
        color: $secondary-color;

    }
    
    button:active {
        background-color: $senary-color;
        color: $secondary-color;
    }

    button:focus {
        outline: none;
    }

    .error {
        color: $tertiary-color;
        font-size: 0.8rem;
    }

    
}

@media (max-width: 800px) {
    .main {
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
    }
    .container {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        gap: 0;
    }
    .textContainer {
        flex-basis: 100%;
        margin-bottom: 1em;
    }
    .formContainer {
        flex-basis: 80%;
    }
}