@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as _mixins;
@use './app/styles/base/_base' as _base;

.main{
  width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    font-family: $primary-font;
    font-size: clamp(0.8rem, 5vw, 1.5rem);
    gap: 3rem;
    margin: 0 auto;
    margin-bottom: 3em;
    padding: 0 1em;
}

 .textContainer{
    text-align: justify;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: clamp(0.5rem, 5vw, 1.5rem);
    
    .buttonWApp{
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 20em;
        margin: 0 auto;
        border-radius: 5px;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
        padding: 0.7rem;
        font-size: clamp(0.5rem, 5vw, 1.5rem);
        border: none;
        background-color: #075e54;
        color: $primary-color;
    }

    .buttonWApp:hover {
        background-color: #128c7e;
        color: $primary-color;

    }

    a{
        text-decoration: none;
        color: $primary-color;
    }

    h1{
    text-align: center;
    }

    .description{
        font-size: $font-size-normal;
        font-weight: 300;
        color: $secondary-color;
      
    }
 }

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    max-width: 50%;
    margin: 0 auto;
    background-color: $primary-color;
    border-radius: 5px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-size: clamp(1rem, 5vw, 1.5rem);
    font-family: $primary-font;

    h1 {
        font-size: $font-size-normal;
        margin-bottom: 1em;
        color: $secondary-color;
        font-weight: 300;
    }

    input {
        box-sizing: border-box;
        width: 100%;
        max-width: 20em;
        margin: 0 auto;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: $font-size-small;
        padding-bottom: 1em;
        padding-top: 1em;
        padding-left: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    textarea {
        width: 100%;
        max-width: 18em;
        min-width: 18em;
        margin: 0 auto;
        padding: 0.5rem;
        padding-left: 1em;
        padding-top: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: $font-size-small;
        padding-bottom: 12em;
        box-sizing: content-box;
        font-family: $primary-font;
    }

    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 20em;
        margin: 0 auto;
        border-radius: 5px;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
    }
    
    button {
        width: 100%;
        max-width: 20em;
        padding: 0.7rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: $font-size-small;
        background-color: $secondary-color;
        color: $primary-color;
        cursor: pointer;
        box-sizing: border-box;
    
    }
    button:hover {
        background-color: $senary-color;
        color: $secondary-color;

    }
    
    button:active {
        background-color: $senary-color;
        color: $secondary-color;
    }

    button:focus {
        outline: none;
    }

    .error {
        color: $tertiary-color;
        font-size: 0.8rem;
    }

    
}

@media (max-width: 800px) {
    .main {
        width: 100%;
        max-width: 100%;
    }
    .container {
        flex-direction: column;
        width: 100%;
        max-width: 1100px;
        gap: 1rem;
        box-sizing: border-box;
    }

    .textContainer {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    .formContainer {
        width: 100%;
        max-width: 100%;
    }
}