@import './app/styles/base/_variables';

.main{
    font-family: $primary-font;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    max-width: 100%;
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 1.5rem;
            font-weight: 600;
            color: $primary-text-color;
        }
    }
}