@use './app/styles/base/_variables' as *;

.main {
    font-family: $primary-font;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding-top: 5em;
    padding-bottom: 3em;
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 2rem;
            font-weight: 600;
            color: $primary-color;
        }
    }
    @media screen and (max-width: 800px){
        padding-top: 1em;
    }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 3rem;
            font-weight: 100;
            color: $primary-color;
        }
    }

}