@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as _mixins;
@use './app/styles/base/_base' as _base;

.navbar {
  background-color: $primary-color;
  font-family: $primary-font;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  flex-basis: 100%;
  padding-bottom: 1em;
  padding-top: 1em;

  .logo {
    display: flex;
    text-decoration: none;
    font-family: $primary-font;
    color: $secondary-color;
    align-items: center;
  }
  .burgerMenu {
    display: none;
  }

  .burgerMenuContainer {
    display: none;
  }

  .burgerMenuButton{
    display: none;
  }

  .navLinks {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: $font-size-desktop;


    &.open {
      display: flex;
      flex-direction: column;
      background-color:$primary-color;
      padding: 1rem;
      position: absolute;
      margin: 0 auto;
      width: 50%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      font-size: $font-size-mobile;
      margin-bottom: 14.5rem;
      margin-top: 8.8rem;
      transition: all 0.3s ease-in-out;
      border-radius: 1.5em;
      
     

      li {
        margin-bottom: 1rem;
        text-decoration: none;
        list-style: none;
      }
    }

    a {
      text-decoration: none;
      color: $primary-text-color;
      margin: 0 auto;
      display: flex;
    }
    
  }

  // .navLinks a:hover {
  //   border-bottom: 2px solid $secondary-color;
  //   padding-bottom: 0.2em;
  // }

  .InstagramSVG{
    display: none;
  }


  @media screen and (max-width: 800px) {
    .hamburger{
      background-color: $primary-color;
    }

    .burgerMenuContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex-basis: 15%;
      position:relative;
  
    
    }

    .burgerMenu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
      text-align: center;
      border: none;
      padding: 0;
      font-size: 1rem;
      margin: 0 auto;
    }
    .burgerMenuButton{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-align: center;
      border: none;
      padding: 0;
      font-size: 0.1rem;
      transition: all 0.3s ease-in-out;
      padding: 0.5em;
      border: none;
    }
    
    
    .navLinks {
      display: none;
    }
    &.open {
      display: flex;
      flex-direction: column;
      background-color:$primary-color;
      padding: 1rem;
      position: relative;
      margin: 0 auto;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      font-size: $font-size-mobile;
    

      li {
        margin-bottom: 1rem;
        text-decoration: none;
        list-style: none;
      }
    }

    a {
      text-decoration: none;
      color: $primary-text-color;
      text-align: center;
    }
    
  }

  .navLinks a:hover {
    border-bottom: 2px solid $secondary-color;
    padding-bottom: 0.2em;
  }

    .logo {
      font-size: $font-size-desktop-ultra-wide;
      text-decoration: none;
    }
    .InstagramSVG{
      margin-left: 1em;
      margin: 0 auto;
      fill: $secondary-color;
      transition: all 0.2s ease-in-out;
      &:hover{
        fill: $primary-color;
      }
      a{
        text-decoration: none;
        color: $primary-text-color;
        display: flex;
      }
    }
  }

