@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as _mixins;
@use './app/styles/base/_base' as _base;
// @use './app/styles/components/ProfilePicture1.module.scss' as _ProfilePicture1;


.main {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.headerContainer{
 background-color: aquamarine;
 width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3em;
  margin-top: 1em;
}

.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
    color:$secondary-color;
    margin: 0;
    padding: 0;
}
.description{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  color:$secondary-color;
  font-size: 1.2rem;

}

