@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as _mixins;
@use './app/styles/base/_base' as _base;
// @use './app/styles/components/ProfilePicture1.module.scss' as _ProfilePicture1;


.main {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  line-height: 1.5;
  box-sizing: border-box;
}

.headerContainer{
    background-color: gainsboro;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 1em;
    // border: 2px solid $secondary-color;
}

.title{
  box-sizing: border-box;
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: $primary-font;
    color:$secondary-color;
    margin: 0;
    padding: 0;
    text-align: start;
    width: 75%;
    padding: 1em;
    
}

.imageContainer{
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  justify-content: space-between;
  
}

.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2em;
}


.description{
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    text-align: start;
    margin: 0 auto;
    margin-bottom: 1em;
    color:$secondary-color;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    padding: 1em;
}

@media screen and (max-width: 1240px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    line-height: 1.5;
    box-sizing: border-box;

  }
  .imageContainer{
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1em;
  }

}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    line-height: 1.5;
    box-sizing: border-box;

  }
  .imageContainer{
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1em;
  }

}

@media screen and (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    line-height: 1.5;
    box-sizing: border-box;

  }
  .imageContainer{
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1em;
 
  }
  .headerContainer

   .title{
    width: 100%;
    text-align: start;
    padding: 1em;
}
}