@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins' as _mixins;
@use './app/styles/base/_base' as _base;



.main {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  line-height: 1.5;
  box-sizing: border-box;
  
}

.headerContainer{
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1em;
   
}

.imageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  flex-basis: 40%;
}

.titleContainer{
  margin-bottom: 1em;
  flex-basis: 60%;
  box-sizing: border-box;
}

.title{
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: $secondary-color;
  margin: 0 auto;
  padding: 0;
  text-align: start;
  width: 100%;
    // border: 2px solid $secondary-color;
}

.section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2em;
}


.description{
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  text-align: start;
  margin: 0 auto;
  margin-bottom: 1em;
  color:$secondary-color;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  padding: 0.5em;
  display: inline-block;
  font-family: $primary-font;
}

@media screen and (min-width: 320px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    line-height: 1.5;
    box-sizing: border-box;

  }

  .headerContainer{
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  
  .imageContainer{
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2em;
    width: 100%;
    padding: 0;
 
  }
   .title{
    width: 100%;
    text-align: start;
    font-size: $font-size-small;
    padding: 0.5em;
    display: inline-block;
}
  
.titleContainer{
  width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    line-height: 1.5;
    box-sizing: border-box;

  }

  .headerContainer{
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  
  .imageContainer{
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2em;
    width: 100%;
    padding: 0;
 
  }
   .title{
    width: 100%;
    text-align: start;
    padding: 0;
   
}
  
.titleContainer{
  width: 93%;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    line-height: 1.5;
    box-sizing: border-box;

  }

  .headerContainer{
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }
  
  .imageContainer{
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2em;
    width: 60%;
    padding: 0;
 
  }
   .title{
    width: 100%;
    text-align: start;
    padding: 0;
    font-size: $font-size-large;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 500;
   
}
  
.titleContainer{
  width: 100%;
  box-sizing: border-box;
  }
}
