.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    border: 2px solid black;
    box-sizing: border-box;
    max-width: 100vw;
  }
  