@use './app/styles/base/_variables' as _variables;
@use './app/styles/utils/_mixins' as _mixins;
@use './app/styles/base/_base' as _base;

.main {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }